<div class = "container">
    <div class = "panel panel-default">
        <div class = "alert alert-info">
            <span class="lead">All countries</span>
        </div>
        <div class="panel-body">
            <div class = "table-responsive">
                <table class = "table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "country in allCountries">
                        <td>{{ country.countryName }}</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" ng-click="delete()"
                        class="btn btn-warning btn-sm">Delete all
                </button>
                <button type="button" ng-click = "load()"
                        class="btn btn-warning btn-sm">Load data
                </button>
                <button type="button" ng-click = "drop()"
                        class="btn btn-warning btn-sm">Drop table
                </button>
            </div>
        </div>
    </div>
</div>