<div class="container">
    <div class = "panel panel-default">
        <div class = "alert alert-info">
            <span class="lead">Search user by name</span>
        </div>
        <div class = "panel-body">
            <div class = "table-responsive">
                <table class = "table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Band</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Favourite animal</th>
                        <th>Favourite meal</th>
                        <th width="100">Edit</th>
                        <th width="100">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "member in searchedMembers">
                        <td>{{ member.name }}</td>
                        <td>{{ member.band }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.favouriteAnimal }}</td>
                        <td>{{ member.favouriteMeal }}</td>
                        <td>
                            <button type="button" ng-click = "editMember(member.id)" class="btn btn-primary custom-width">
                                <span class = "gyphicon glyphicon-edit">Edit</span>
                            </button>
                        </td>
                        <td>
                            <button type = "button" ng-click = "deleteMember(member.id)" class="btn btn-danger custom-width">
                                <span class = "glyphicon glyphicon-remove">Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <input type="text" ng-model = 'name'>
                    <button ng-click = "searchbyname()">Send the name</button>
                </div>
            </div>
        </div>
    </div>
