<div class="container">
    <div class="panel panel-default">
        <div class="alert alert-success">
            <span class = "lead">
                Welcome to Musician registration system
            </span>
        </div>
        <div class = "panel-body">
            <div class = "alert alert-info">
                <ul>
                    <li>
                        Please click on <strong>Register new musician</strong>
                        to register a new musician.
                    </li>
                    <li>
                        Please click on <strong>List all members</strong>
                        to get all registered musicians.
                    </li>
                    <li>
                        Please click on <strong>Search by name</strong>
                        to search a registered musician by name.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>