<div class="container">

    <div class="panel panel-default">
        <div class="alert alert-success">
            <p  class = "page-title">Welcome to the Musicband register</p>

            <span class = "lead ">

            </span>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box" >
                    <img src="pic/ae.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box">
                    <img src="pic/im.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box" >
                    <img src="pic/tc.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box" >
                    <img src="pic/md.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box" >
                    <img src="pic/kk.png" class="img-thumbnail">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="box" >
                    <img src="pic/aa.jpg" class="img-thumbnail">
                </div>
            </div>
            <!--
            <div class=" col-xl-3">
                <div class="box" style="border: 1px solid black">
                    <img src="pic/im.jpg" class="img-thumbnail">
                    <h5 style="text-align: center ">Iron Maiden</h5>
                    <h6 style="text-align: center">Heavy metal</h6>
                </div>
            </div>
            -->
        </div>
        <!--
        <div class = "panel-body">
            <div class = "alert alert-info">
                <ul class="home-list-item">
                    <li class="home-list-item">
                        Please click on <strong>Registration</strong>
                        to register a new musician.
                    </li>
                    <li class="home-list-item">
                        Please click on <strong>Registered members</strong>
                        to get all registered musicians.
                    </li>
                    <li class="home-list-item">
                        Please click on <strong>Search</strong>
                        to search members by specified properties.
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>


</div>