<div class = "container">
    <div class = "table-responsive">
        <table class = "table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User name:</td>
                    <td>
                        <input>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>