<div class="container">
    <div class="alert alert-danger" role="alert" ng-if="errorMessage">
        {{errorMessage}}
    </div>
    <div class="panel panel-default">

        <div class="alert alert-success">
            <span class="lead">Register New Musician</span>
            <p>Please maintain uniqueness of member-name</p>
        </div>

        <div class="panel-body ">
            <div class="container">
                <form ng-submit="submitMemberForm()" name="myForm" class="form-horizontal ">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="member.name" id="uname" class="form-control input-sm" placeholder="Enter name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="band">Band</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="member.band" id="band" class="form-control input-sm" placeholder="Your music band" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" > Instrument </label>
                            <div class="col-md-7">
                                <select ng-model = "member.instrument" ng-options = "x for x in instruments"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" >Country</label>
                            <div class="col-md-7">
                                <select ng-model = "member.country" ng-options = "x for x in countries"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="address">City</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="member.address" id="address" class="form-control input-sm" placeholder="City" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="email">Email</label>
                            <div class="col-md-7">
                                <input type="email" ng-model="member.email" id="email" class="form-control input-sm" placeholder="Your e-mail address" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="yearOfBirth">Year of birth</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="member.yearOfBirth" id="yearOfBirth" class="form-control input-sm" placeholder="Enter your age" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" value="Register Member" class="btn btn-primary btn-sm">
                            <button type="button" ng-click="resetForm()" class="btn btn-warning btn-sm">Reset Form</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>