<div class="container">
    <div class = "panel panel-default">
        <div class = "alert alert-success">
            <span class="lead">Specified search</span>
        </div>
        <div class = "panel-body">
            <div class = "table-responsive">
                <table class = "table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Band</th>
                        <th>Instrument</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Year of birth</th>
                        <th width="100">Edit</th>
                        <th width="100">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "member in searched">
                        <td>{{ member.name }}</td>
                        <td>{{ member.band }}</td>
                        <td>{{ member.instrument }}</td>
                        <td>{{ member.country }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.yearOfBirth }}</td>
                        <td>
                            <button type="button" ng-click = "editMember(member.id)" class="btn btn-primary custom-width">
                                <span class = "gyphicon glyphicon-edit">Edit</span>
                            </button>
                        </td>
                        <td>
                            <button type = "button" ng-click = "deleteMember(member.id)" class="btn btn-danger custom-width">
                                <span class = "glyphicon glyphicon-remove">Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <select ng-model = "selectedName" ng-options = "x for x in names"></select>
                    <input type="text" ng-model = "content">
                    <button ng-click = "push()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>