<div class="container">
    <div class = "panel panel-default">
        <div class = "alert alert-success">
            <span class="lead">Basic statistics</span>
        </div>
        <div class = "panel-body">
            <div class = "table-responsive">
                <table class = "table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Registered musicians</th>
                            <th>Registered bands</th>
                            <th>Number of countries</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ statistics.registeredMembers }}</td>
                        <td>{{ statistics.numberOfBands }}</td>
                        <td>{{ statistics.numberOfCountries }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class = "table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th  ng-repeat = "data in statistics.membersPerCountry">{{data.country}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat = "data in statistics.membersPerCountry">{{ data.number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="donutchart" style="width: 700px; height: 400px;"></div>
    </div>
</div>